---
# Network configuration for lab VMs

- name: Set DNS resolver for this host
  set_fact:
    dns_resolver: "{{ '8.8.8.8' if ansible_hostname == 'utgard-firewall' else lab_gateway }}"
  when: lab_gateway is defined and lab_gateway | length > 0

- name: Configure DNS (resolv.conf)
  template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    mode: '0644'
  when: dns_resolver is defined and dns_resolver | length > 0

- name: Enable IP forwarding (for firewall VM)
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: yes
    state: present
  when: ansible_hostname == 'utgard-firewall'

- name: Set default route via firewall gateway (lab VMs)
  command: ip route replace default via {{ lab_gateway }}
  when:
    - ansible_hostname != 'utgard-firewall'
    - lab_gateway is defined
    - lab_gateway | length > 0
  changed_when: true

- name: Make default route persistent (lab VMs)
  copy:
    content: |
      #!/bin/bash
      # Set default route via firewall gateway
      ip route replace default via {{ lab_gateway }}
    dest: /etc/networkd-dispatcher/routable.d/50-default-route
    mode: '0755'
  when:
    - ansible_hostname != 'utgard-firewall'
    - lab_gateway is defined
    - lab_gateway | length > 0

- name: Verify network connectivity
  command: ping -c 1 8.8.8.8
  changed_when: false
  failed_when: false
