[Interface]
# Device: REPLACE_WITH_DEVICE_NAME
PrivateKey = REPLACE_WITH_PRIVATE_KEY
Address = REPLACE_WITH_ASSIGNED_IPS
DNS = REPLACE_WITH_DNS

[Peer]
PublicKey = REPLACE_WITH_PUBLIC_KEY
AllowedIPs = 0.0.0.0/0,::0/0
Endpoint = 193.138.218.83:51820
