---
# REMnux malware analysis tools installation

- name: Install core analysis tools
  apt:
    name:
      - python3
      - python3-pip
      - git
      - binwalk
      - bsdextrautils
      - binutils
      - file
      - exiftool
      - strace
      - ltrace
      - gdb
      - nmap
      - wireshark
      - tcpdump
    state: present

- name: Install optional analysis tools if available
  apt:
    name: "{{ item }}"
    state: present
  failed_when: false
  loop:
    - radare2
    - volatility3
  when: not remnux_offline_mode | default(false)

- name: Install Python analysis tools
  pip:
    name:
      - pycryptodome
      - capstone
      - angr
      - keystone-engine
      - yara-python
    state: present
  when: not remnux_offline_mode | default(false)

- name: Clone REMnux repository
  git:
    repo: https://github.com/REMnux/remnux-cli
    dest: /opt/remnux
    update: yes
  failed_when: false
  when: not remnux_offline_mode | default(false)
