version: '3.8'
services:
  headscale:
    image: headscale/headscale:latest
    command: serve
    restart: unless-stopped
    ports:
      - "{{ headscale_listen_addr.split(':')[-1] }}:{{ headscale_listen_addr.split(':')[-1] }}"
    volumes:
      - {{ headscale_state_dir }}/config:/etc/headscale
      - {{ headscale_state_dir }}/data:/var/lib/headscale
